body {
    /*background-image: url(../images/background.jpg);*/
    margin: 0;
    padding: 0 70px 0 70px;
	background-attachment: fixed;
	background-color: #03a9f4;
}

header {
    background-color: #50565d;
    padding-top: 10px;
}

header > img {
	height: 130px;
	padding-left: 40px;
}

header > h1 {
    padding-left: 50px;
}

header > hr {
    padding: 0;
    margin: 0;
}

nav > a {
    padding: 10px 10px 10px 30px;
}

section {
    padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
    background-color: #2d2d2d;
    padding-bottom: 100%;
	color: #9e9e9e;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

section#login {
	padding-right: 220px;
	padding-top: 200px;
	text-align: right;
	position: static;
}

section > #uploadImage {
    padding-top: 30px;
}

.dropzone {
	font-weight: bold;
	text-align: center;
	border: 2px dashed;
	border-radius: 7px;
	background-color: inherit;
}

.dropzone .dz-message {
	text-transform: uppercase;
}

.dropzone.dz-drag-hover {
	color: red;
	border-color: red;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

.dropzone.dz-drag-hover .dz-message {
	opacity: 1;
}

.dropzone .dz-preview .dz-details .dz-filename span, 
.dropzone .dz-preview .dz-details .dz-size span {
	background-color: inherit;
}

.dropzone .dz-preview.dz-image-preview {
	background-color: inherit;
}

footer {
    background-color: #50565d;
    text-align: center;
}